::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.3);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.3);
}

html,
body {
    /*background-image: url('image/Frida.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 1px inset transparent;
}

#card {
    width: 90%;
    height: 55%;
    margin: 15% 5% 15% 5%;
}

#cardd {
    background-color: RGBA(17, 85, 204, 0.3);
    border-radius: 20px;
    padding: 1%;
}

h3.rosa {
    color: RGB(228, 0, 124);
    text-align: center;
}

p.subtitle {
    color: white;
    text-align: center
}

p.privacidad {
    color: white;
    margin-top: 5%;
    text-align: center;
    cursor: pointer;
}

p.olvide {
    color: white;
    text-align: center;
    margin-top: 2%;

}

.check {
    margin: 0 3% 0 25%;
}


input[type=text],
[type=password] {
    width: 100%;
    background-color: transparent;
    text-align: left;
    color: white;
}

.borde {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-color: white;
    outline: none;
}

.register_btn {
    color: white;
    background-color: RGB(17, 85, 204);
    width: 40%;
    margin: 0 30% 0 30%;
    border-radius: 50px 50px;
    cursor: pointer;
}

.login_btn {
    color: white;
    background-color: RGB(228, 0, 124);
    width: 40%;
    margin: 0 30% 0 30%;
    border-radius: 50px 50px;
    cursor: pointer;
}

.cerrar {
    color: white;
    background-color: RGB(228, 0, 124);
    width: 20%;
    margin: 0 40% 0 40%;
    border-radius: 50px 50px;
    cursor: pointer;
}

/*{
    box-sizing: border-box;
}*/
.form-popup {
    display: none;
    position: fixed;
    top: 1%;
    left: 15%;
    bottom: 1%;
    right: 15%;
    border: 1px solid aqua;
}

/* Add styles to the form container */
.form-container {
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: RGBA(255, 255, 255,0.8);
}